{{ define "main" }}

<!-- Syntax Highlighting -->
<link rel="stylesheet" href="{{ "css/highlightjs/default.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/highlightjs/a11y-dark.css" | absURL }}">

<script src="{{ "js/highlight.pack.js" | absURL }}"></script>
<script>hljs.initHighlightingOnLoad();</script>

<h1>{{ .Title }}</h1>
{{ partial "date-and-tags.html" . }}
<br><br>
<div class="article">
{{ .Content }}
</div>
{{ if .IsPage }}
<small>Found a bug? Got a correction? You can 
    <a href="https://github.com/littlemanco/www.littleman.co/edit/master/content/{{ .File.Path }}"
       target="_blank">edit this page on GitHub</a></small>
{{ end }}
</div>

{{ end }}