html {
    font-size: 20px;
}

body {
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
}

h1,
a {
    color: #397eb2;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.125em;
}

h3 {
    font-size: 1.5em;
}

/* Topnav */
#nav-border,
.article {
    border-bottom: 1px solid #397eb2;
}

#nav a.nav-link-active {
    background-color: #397eb2;
    color: #fff;
}


/* Asciidoctor */ 
blockquote {
    padding-left: 15px;
    
    font-size: 1.25rem;
    font-style: italic;
    
    border-left: solid 10px #397eb2;
}

.videoblock {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;

    /* Responsive Sizing */
    padding-bottom: 56.25%;
}

.videoblock iframe,
.videoblock embed,
.videoblock object,
.videoblock video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.paragraph .image {
    display: block;
    text-align: center;
}

/* Callouts & Adminoitions*/
.callout,
.admonitionblock {
    position: relative;
    margin-bottom: 1em;
    padding: 6px 12px;
    border: solid 1px #92A4B2;
    border-left: solid 48px;
    background: #eef1f3;
    
}

.admonitionblock .icon {
    display: none;
}

.callout::before,
.admonitionblock::before {
    content: 'wb_sunny';
    color: #eef1f3;
    position: absolute;
    display: block;
    text-align: center;

    left: -40px;

    /* Material Icons */
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.callout--tip,
.tip {
    border-color: #5DB25E;
    background-color: #5DB25E36;
}

.callout--tip::before,
.tip::before {
    content: 'lightbulb';
}

.callout--caution,
.caution {
    border-color: #ffc107;
    background-color: #ffc10736;
}

.callout--caution::before,
.caution::before {
    content: 'warning';
}

.callout--note,
.note {
    border-color: #6bbfff;
    background-color: #6bbfff36;
}

.callout--note::before,
.note::before {
    content: 'notifications';
}

.callout--warning,
.warning {
    border-color: #dc3545;
    background-color: #dc354536;
}

.callout--warning::before,
.warning::before {
    content: 'error';
}
